.alert.alert-success(role='alert')
    strong 干得漂亮!
    | 这件艰难的事情你干成了！
    a.alert-link(href='#') 这是一个重要的信息
    | .
  .alert.alert-info(role='alert')
    strong 注意了!
    |  这件事情 
    a.alert-link(href='#') 需要引起注意，
    | , 但不是很重要
  .alert.alert-warning(role='alert')
    strong 警告!
    |  这是一个警告信息，好好检查检
    a.alert-link(href='#') 看看是不是哪里出错了？
    | .
  .alert.alert-danger(role='alert')
    strong 糟糕!
    a.alert-link(href='#') 出现了一些错误。
    |  再试一次，总能成功的。