h2.typo-h2 按钮状态

// Standard button
button.btn.btn-default(type='button') （默认样式）Default
// Provides extra visual weight and identifies the primary action in a set of buttons
button.btn.btn-primary(type='button') （首选项）Primary
// Indicates a successful or positive action
button.btn.btn-success(type='button') （成功）Success
// Contextual button for informational alert messages
button.btn.btn-info(type='button') （一般信息）Info
// Indicates caution should be taken with this action
button.btn.btn-warning(type='button') （警告）Warning
// Indicates a dangerous or potentially negative action
button.btn.btn-danger(type='button') （危险）Danger
// Deemphasize a button by making it look like a link while maintaining button behavior
button.btn.btn-link(type='button') （链接）Link


h2.typo-h2 按钮尺寸

p.sep
    button.btn.btn-primary.btn-lg(type='button') （大按钮）Large button
    button.btn.btn-default.btn-lg(type='button') （大按钮）Large button
p.sep
    button.btn.btn-primary(type='button') （默认尺寸）Default button
    button.btn.btn-default(type='button') （默认尺寸）Default button
p.sep
    button.btn.btn-primary.btn-sm(type='button') （小按钮）Small button
    button.btn.btn-default.btn-sm(type='button') （小按钮）Small button
p.sep
    button.btn.btn-primary.btn-xs(type='button') （超小尺寸）Extra small button
    button.btn.btn-default.btn-xs(type='button') （超小尺寸）Extra small button