.pure-g.row.row-bordered
    .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .col
            h3 精准设计 彰显品牌
            p.sep
                | 网站的作用在于传递信息，而精准的设计能够马上告诉用户：“我们是在很认真的为您服务，一直如此。
    .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .col
            h3 极致优化，瞬时可达
            p.sep
                | 互联网时代，寸秒寸金，1秒的迟缓就能对您的业务产生莫大的影响，良好到位的优化就能轻解决问题。
    .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .col
            h3 优势整合，丰富展现
            p.sep
                | 每个企业都有独特优势，良好的信息架构能把这些优势展现出来，网站建设的过程就是信息架构的过程。
    .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .col
            h3 了解用户，成就财富
            p.sep
                | 用户需要的，才是网站应提供的，深入全面的的用户需求分析是我们服务用户的根本和创造财富的前提。
    .sep


h2.typo-h2 Flex 布局

.pure-g.row.row-flex
    .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .col
            h3 精准设计 彰显品牌
            p
                | 网站的作用在于传递信息，而精准的设计能够马上告诉用户而精准的设计能够马上告诉用户：“我们是在很认真的为您服务，一直如此。
    .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .col
            h3 极致优化，瞬时可达
            p
                | 互联网时代，寸秒寸金，1秒的迟缓就能对您的业务产生莫大的影响，良好到位的优化就能轻解决问题。
    .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .col
            h3 优势整合，丰富展现
            p
                | 每个企业都有独特优势，良好的信息架构能把这些优而精准的设计能够马上告诉用户而精准的设计能够马上告诉用户而精准的设计能够马上告诉用户势展现出来，网站建设的过程就是信息架构的过程。
    .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .col
            h3 了解用户，成就财富
            p
                | 用户需要的，才是网站应提供的，深入全面的的用户需求分析是我们服务用户的根本和创造财富的前提。
    .sep


.pure-g.row
    .pure-u-2-5
        .col
            h3 后台文章发布简单易用
            p
                | 利用Windows Live Writer，更新网站时，你只需要打开客户端软件，直接在里面添加文章，点击发布即可一键发布文章到网站，利用Android平台和IOS平台的客户端，您甚至不用打开电脑就能对网站进行更新维护。
    .pure-u-3-5
        .col
            h3 支持桌面手机客户端管理网站
            p
                | 利用Windows Live Writer，更新网站时，你只需要打开客户端软件，直接在里面添加文章，点击发布即可一键发布文章到网站，利用Android平台和IOS平台的客户端，您甚至不用打开电脑就能对网站进行更新维护。
