h2.typo-h2 Bootstrap 导航

header#header.site-header
  nav.navbar.navbar-default.white.bootsnav.on.no-full.navbar-fixed.no-background
    .container
      .search_btn.btn_common
        i.icon-icons185
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-menu')
          i.fa.fa-bars
        a.navbar-brand(href='http://mblock.dev/zh-home')
          img.logo.logo-display(src='http://mblock.dev/zh-home/wp-content/uploads/sites/2/2017/06/LOGO-bai-2x.png', alt='logo')
          img.logo.logo-scrolled(src='http://mblock.dev/zh-home/wp-content/uploads/sites/2/2017/06/LOGO-hei-2x.png', alt='')
      #navbar-menu.collapse.navbar-collapse
        ul#menu-main.nav.navbar-nav.navbar-left
          li#menu-item-208.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-85.current_page_item.menu-item-208.active
            a(title='首页', href='http://mblock.dev/zh-home/') 首页
          li#menu-item-220.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-220
            a(title='创造', href='http://editor.makeblock.com/ide.html') 关于我们
          li#menu-item-217.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-217.dropdown
            a.dropdown-toggle(title='教育者', href='#', data-toggle='dropdown', aria-haspopup='true') 产品
            ul.dropdown-menu.animated(role='menu')
              li#menu-item-381.menu-item.menu-item-type-post_type_archive.menu-item-object-case.menu-item-381
                a(title='案例', href='http://mblock.dev/zh-home/case/') 案例
              li#menu-item-210.menu-item.menu-item-type-post_type_archive.menu-item-object-edu.menu-item-210
                a(title='教育资源', href='http://mblock.dev/zh-home/edu/') 服务项目
              li#menu-item-228.menu-item.menu-item-type-taxonomy.menu-item-object-materialcat.menu-item-228
                a(title='素材中心', href='http://mblock.dev/zh-home/materialcat/image/') 案例中心
          li#menu-item-359.menu-item.menu-item-type-post_type_archive.menu-item-object-faq.menu-item-359
            a(title='帮助与支持', href='http://mblock.dev/zh-home/faq/') 帮助与支持
        ul#menu-lang.nav.navbar-nav.navbar-right
          li#menu-item-424.blog-id-2.mlp-language-nav-item.menu-item.menu-item-type-language.menu-item-object-mlp_language.menu-item-has-children.mlp-current-language-item.menu-item-424.dropdown
            a.dropdown-toggle(title='中文', rel='alternate', href='#', data-toggle='dropdown', aria-haspopup='true') 中文
            ul.dropdown-menu.animated(role='menu')
              li#menu-item-425.blog-id-1.mlp-language-nav-item.menu-item.menu-item-type-language.menu-item-object-mlp_language.menu-item-425
                a(title='English', rel='alternate', href='http://mblock.dev/?noredirect=en_US') English
