h2 应用场景
    p 盒子布局时使用

.panel.panel-default
    .panel-body
        | 基本面板示例


h2.typo-h2 带标题的面版

.panel.panel-default
    .panel-heading 没有标题的面板
    .panel-body
        | Panel content
.panel.panel-default
    .panel-heading
        h3.panel-title 面板标题
        span.panel-text 副标题
        span.panel-more 更多
    .panel-body
        | 面板内容


h2.typo-h2 不带边框的面板

.panel.panel-default.panel-noborder
    .panel-heading 没有标题的面板
    .panel-body
        | Panel content
.panel.panel-default
    .panel-heading
        h3.panel-title 面板标题
        span.panel-text 副标题
        span.panel-more 更多
    .panel-body
        | 面板内容


h2.typo-h2 卡片样式的面板

.pure-g.row

    .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
        .col
            .panel.panel-default
                .panel-image
                    img(alt='800x600', src='http://placehold.it/800x600',)
                .panel-body
                    div.panel-meta 作者：一刀
                    | 面板内容互联网时代，寸秒寸金，1秒的迟缓就能对您的业务产生莫大的影响，良好到位的优化就能轻解决问题。
                .panel-footer
                    span.glyphicon.glyphicon-cloud
                    span 面板页脚
                    span.panel-text 副标题
                    span.panel-more 更多

    .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
        .col
            .panel.panel-default
                .panel-heading
                    h3.panel-title 面板标题
                    span.panel-text 副标题
                    span.panel-more 更多
                .panel-image
                    img(alt='800x600', src='http://placehold.it/800x600',)
                .panel-body
                    div.panel-meta 作者：一刀
                    | 面板内容互联网时代，寸秒寸金，1秒的迟缓就能对您的业务产生莫大的影响，良好到位的优化就能轻解决问题。

    .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
        .col
            .panel.panel-default
                .panel-image
                    img(alt='800x600', src='http://placehold.it/800x600',)
                .panel-body
                    div.panel-meta 作者：一刀
                    | 面板内容互联网时代，寸秒寸金，1秒的迟缓就能对您的业务产生莫大的影响，良好到位的优化就能轻解决问题。

    .sep


h2.typo-h2 带脚注的面版

.panel.panel-default
    .panel-image
        img(src='http://placehold.it/1000x300', alt='64x64',)
    .panel-body
        | 面板内容
    .panel-footer
        span 面板页脚
        span.panel-text 副标题
        span.panel-more 更多

.panel.panel-default
    .panel-body
        | 面板内容
    .panel-footer
        span 面板页脚
        span.panel-text 副标题
        span.panel-more 更多

h2.typo-h2 带情景的面版

.panel.panel-primary
    .panel-heading
        h3.panel-title 面板标题
    .panel-body
        | 面板内容

.panel.panel-success
    .panel-heading
        h3.panel-title 面板标题
    .panel-body
        | 面板内容

.panel.panel-info
    .panel-heading
        h3.panel-title 面板标题
    .panel-body
        | 面板内容

.panel.panel-warning
    .panel-heading
        h3.panel-title 面板标题
    .panel-body
        | 面板内容

.panel.panel-danger
    .panel-heading
        h3.panel-title 面板标题
    .panel-body
        | 面板内容


h2.typo-h2 带表格的面版

.panel.panel-default.sep
    // Default panel contents
    .panel-heading 面板标题
    .panel-body
        p
            | 内容互联网时代，寸秒寸金，1秒的迟缓就能对您的业务产生莫大的影响，良好到位的优化就能轻解决问题。
    // Table
    table.table
        thead
            tr
                th #
                th First Name
                th Last Name
                th Username
        tbody
            tr
                td 1
                td Mark
                td Otto
                td @mdo
            tr
                td 2
                td Jacob
                td Thornton
                td @fat
            tr
                td 3
                td Larry
                td the Bird
                td @twitter


.panel.panel-default
    // Default panel contents
    .panel-heading Panel heading
    // Table
    table.table
        thead
            tr
                th #
                th First Name
                th Last Name
                th Username
        tbody
            tr
                td 1
                td Mark
                td Otto
                td @mdo
            tr
                td 2
                td Jacob
                td Thornton
                td @fat
            tr
                td 3
                td Larry
                td the Bird
                td @twitter


h2.typo-h2 带列表租的面版

.panel.panel-default
    // Default panel contents
    .panel-heading Panel heading
    .panel-body
        p
            | Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
    // List group
    ul.list-group
        li.list-group-item Cras justo odio
        li.list-group-item Dapibus ac facilisis in
        li.list-group-item Morbi leo risus
        li.list-group-item Porta ac consectetur ac
        li.list-group-item Vestibulum at eros

